/* Google fonts I am using for the website */
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');



body {
 background-color: rgb(18, 18, 49);
 color:rgb(35, 66, 94);
 font-family: 'Philosopher',sans-serif;
 margin: 0;

}

/*Styling the header*/
header {
    background-color: rgb(10, 10, 37);
    padding: 20px;
    color: rgb(84, 66, 113);
    margin: 0 auto; /
    font-family: 'Philosopher', sans-serif;
    border-radius: 10px;
}



/*Styling the navigation*/

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 0.5em;
  }

  nav ul li a{
    color: rgba(63, 55, 114, 0.853);
    border-color: rgb(28, 28, 61);
    border-style: dashed;
    border-width: 3px;
    border-radius: 25px;
    background-color: rgb(11, 11, 30);
    padding: 20px;
    margin-top: 20px;
    text-align: center;

  }

 nav ul li a:hover, nav ul li a:focus {
    color: rgb(35, 18, 72);
    background-color: rgb(102, 65, 132);
    font-weight: bold;
  }

/*Styling the main content */
main {
    padding: 20px;
    background-color: rgba(63, 55, 114, 0.853);
    text-align: center;
    font-family: 'Philosopher', sans-serif;
}


/*Styling the biography section*/

#biography1 {
    
    color: rgba(63, 55, 114, 0.853);
    border-color: rgb(28, 28, 61);
    border-style: dashed;
    border-width: 3px;
    border-radius: 25px;
    background-color: rgb(11, 11, 30);
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

#biography1 h2{
    color: rgb(84, 66, 113);
    font-size:x-large;
    font-family:'Philosopher', sans-serif;
   
    

}

#biography1 h3{
    color: rgb(84, 66, 113);
    font-size: large;
    font-family: 'Philosopher', sans-serif;

 }

 #biography1 p{
color:rgba(63, 55, 114, 0.853);
font-size: medium;
font-family: 'Philosopher', sans-serif;

 }


/*Styling the portfolio section*/
#portfolio {
    text-align: center;
    border-color: rgb(77, 41, 110) ;
    border-style: dashed;
    border-width: 3px;
    background-color: rgb(28, 28, 61);
    padding: 20px;
    margin-top: 20px;
    border-radius: 25px

#portfolio img{
    display: contents;
    margin: 5px auto;
    border-color: rgb(110, 52, 202);
    border-style: dashed;
    border-width: 2px;
    border-radius: 5px;
}


}
#portfolio h2{
    color: rgb(68, 36, 120);
    font-size: x-large;
    font-family: 'Philosopher', sans-serif;


 }


footer {
    position:static;
    left: 0px;
    bottom: 0px;
    width: auto;
    height: 30px;
    background-color: rgb(84, 66, 113);
    color: beige;
    text-align: center;
 }

 /*Styling the table and contact me*/
 
 #contactme h2{
    text-align: center;
 }

table {
    border-collapse: collapse;
    width: 100px;

}
 
td {
    text-align: left;
    padding: 5px;

}

th{
    background-color: rgb(28, 28, 52);
    color: rgb(84, 66, 113)
}
tr{
    background-color:rgb(23, 15, 34);
    border-radius: 50px;
    border-color: rgb(77, 41, 110) ;
    border-style: dashed;
    border-width: 3px;
    padding: 20px;
    margin-top: 20px;


